.card-bandeira {
    width: 200px;
    height: auto;
    margin: .5rem;
    border-radius: 8px;
    box-shadow: 0 0 12px gray;
    overflow: hidden;

    
    
}

.image-bandeira {
    width: 200px;
    height: auto;
}

.infor-pais {
    padding: 1rem;
}